<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<property name="LOGS_DIR" value="." />
	<property name="LOG_PATTERN"
		value="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n" />
	<appender name="SAMPLEBOOT_DATA_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-85(%-5level%logger{50}.%M\(\))-Line:%-4L - %msg%n
			</Pattern>
		</layout>
	</appender>
	<logger name="org.springframework" level="INFO" additivity="false">
		<appender-ref ref="SAMPLEBOOT_DATA_CONSOLE" />
	</logger>
	<logger name="org.springframework.jdbc.core" level="INFO"
		additivity="false">
		<appender-ref ref="SAMPLEBOOT_DATA_CONSOLE" />
	</logger>
	<root level="${LOG_LEVEL}">
		<appender-ref ref="SAMPLEBOOT_DATA_CONSOLE" />
	</root>
</configuration>